*{
    padding: 0;
    margin: 0;
}


body{


    background: url(flower.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    


}

h1{
    color: whitesmoke;
    
}