*{
    margin: 0;
    border: 0;
    box-sizing: 0;
}


	body {
	    background:#234796;
        display:flex;
        align-items:center;
        
    }
    
    .box{

        margin: 0 auto;
        justify-content: center;
        text-align: center;
        padding-top: 350px;
        color: white;
        opacity: 100%;


    }

    .circle{
        display: flex;
        position: absolute;
        left: 40%;
        top: 55%;
       
    }

    .box1{

        height: 30px;
        width: 30px;
        background: burlywood;
        margin: 10px;
        border-radius: 50px;
        animation-name: cir;
        animation-iteration-count: infinite;
        animation-duration: 1s;


     

    }

    .box1:nth-child(1){
            animation-delay: .2s;
    }

    .box1:nth-child(2){
        animation-delay: .4s;
    }

    .box1:nth-child(3){
        animation-delay: .6s;
    }

    .box1:nth-child(4){
        animation-delay: .8s;
    }

    .box1:nth-child(5){
        animation-delay: .1s;
    }



    @keyframes cir{

        0% {
            transform:translateY(0px); background: chartreuse;
        }
        25% {
            transform:translateY(-15px); background: crimson;
            
        }
        50% {
            transform:translateY(0px); background: darkmagenta;
        }

    }

   



    .box p{
        font-size: 35px;
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        animation-name: anim;
        animation-iteration-count: infinite;
        animation-duration: 4s;
        animation-timing-function: cubic-bezier(0,.79,0,1.51);

      
    }



@keyframes anim {
    25% {
        transform:translateX(-10px) rotateZ(0deg); color: red; 
    }
    50% {
        transform:translateX(-50px) rotateZ(0deg); color: rgb(230, 16, 148);
        
    }
    100% {
        transform:translateX(0px) rotateZ(0deg); color: yellow; 

    }
}
